*{
    margin: 0;
    padding: 0;
}

body{     
    height:100vh;
    width:100vw;   
    background:url('image/background.jpeg');
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    overflow:hidden; 
}

.root{
    display:flex;
    justify-content: center;  
    text-align:center;
}
.description{
    margin:10% 0 20%;
    color:rgba(0,0,0,.7);
    
}
.description__header{
    font-size:52px;
    margin-bottom:3%;
}
.description__paragraph{
    font-size:24px;
}
.form{
    display:flex;
    flex-direction:column;
    width: 75%;
    margin: 0 auto;
}
.form__input{
    font-size:20px;
    text-align:center;
    margin-bottom:8%;
    
}

.form__button{
    font-size: 18px;
    height: 40px;
    width: 80%;
    border-radius: 15px;
    border: 2px solid white;
    background-color: black;
    color: white;
    margin:0 auto;
}
.form__button:focus{
    outline:none;
}

.results{
   margin-top:10%; 
    //background:rgba(0,0,0,.5);
    color:white;
   // border: 5px solid white;
    border-radius: 25px;
    padding: 5%;
}

.results__paragraph{
    font-size:22px;
    margin-bottom:3%;
}